<div class="container">
    <div class="row">
         <div class="col-6">
             
         </div>
    </div>
 </div>

 <link rel="stylesheet" href="/css/signin.css">
<div class="main-div">
        <div class="form-container">
            <div class="form">
                <center><h2 class="heading">Employee SignIn</h2></center>
                <form class="row g-3" method="post" action="/employee/signin">
                    <div class="col-md-12">
                        <label class="form-label">Email Address</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter Email.." required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" placeholder="Enter Password.." class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <input type="hidden" name="isEmployee" value="true" required>
                    </div>
                    <div class="col-12" style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                </form>
            </div>
            <div class="links">
                <div class="col-md-6">
                    <a href="/employee/signuppage">Create new employee </a>
                </div>
                <!-- <div class="col-md-7">
                    <a href="/customer/savingAccount">Create new Saving Account </a>
                </div> -->
            </div>
        </div>
</div>