<div class="container">
    <div class="row">
         <div class="col-6">
             <form class="row g-3" method="post" action="/employee/signup">
                 <div class="col-md-12">
                     <label class="form-label">Email</label>
                     <input type="email" name="email" class="form-control" placeholder="Enter Email.." required>
                 </div>
                 <div class="col-md-12">
                     <label class="form-label">Password</label>
                     <input type="password" name="password" placeholder="Enter Password.." class="form-control" required>
                 </div>
     
                 <div class="col-md-12">
                    <label class="form-label">Password</label>
                    <input type="password" name="ConfirmPassword" placeholder="Enter Password.." class="form-control" required>
                 </div>

                 <div class="col-12">
                     <button type="submit" class="btn btn-primary">SignUp</button>
                 </div>
             </form>
         </div>
    </div>
 </div>