

<nav  class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;
 box-shadow: 0px 0px 5px 5px lightgrey">
    <!-- Navbar content -->
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><b>Online Bank</b></a>
      <div class="d-flex justify-content-evenly">
        <%if(locals.user && locals.user.isEmployee==true){%>
          <a class="btn btn-danger" href="/employee/dashboard">Dashboard</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-danger ml-4" href="/signout">SIGN OUT</a>
          <%}else if(locals.user){%>
            <a class="btn btn-danger" href="/customer/dashboard">Dashboard</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger ml-4" href="/signout">SIGN OUT</a>
          <%}else{%>
            <a class="btn btn-danger" href="/employee/signinpage">Employee Login</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger ml-4" href="/customer/signin">Customer Login</a>
            <%}%>
      </div>
    </div>
    </div>
  </nav>