<div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div >
                    <h2>Bank Employee</h2>
                    <a href="/employee/sigin" class="btn btn-dark">Sigin</a>
                    <a href="/employee/sigup" class="btn btn-dark">Create Employee</a>
                </div>
            </div>
            <div class="col-6">
                <div >
                    <h2>Customer</h2>                    
                        <div class="d-grid gap-2">
                            <a href="/customer/signin" class="btn btn-dark">Sigin</a>
                            <a href="/customer/testAccount" class="btn btn-dark">Create Test Account</a>
                            <a href="/customer/savingAccount" class="btn btn-dark">Create Saving Account</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>