body{
    background-color: wheat;
}
.container{
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;

}

.col-6{
    width: 49%;
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    overflow-x: scroll;
}