/* first div */
.main-div {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

/* second div */
.second-container{
    color: #AEB0BF;
    margin-top: 1%;
    background-color: #03063f;
    width: 55%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px 8px gray;
    border-radius: 30px 30px 0px 30px;
}

/* form-container */
.form-container{
    width: 70%;
}
/* heading */
.heading{
    text-align: center;
    font-weight: 700;
}
/* form input */
.form-container form input{
    border-radius: 20px;
}
/* links */
.links{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-bottom: 10px;
}
/* links div */
.links div{
    text-align: center;
}