<link rel="stylesheet" href="/css/signup.css">
<div class="main-div">
    <div class="second-container">
        <div class="form-container">
            <h3 class="heading">Create Saving Account</h3>
            <form class="row g-3" method="post" action="/customer/savingaccount">
                <div class="col-md-6">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Name.." required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email.." required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Phone</label>
                    <input type="tel" name="phone" class="form-control" placeholder="Enter Phone.." required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Adhar Card No</label>
                    <input type="number" name="adharNo" class="form-control" placeholder="Adhar Card No.." required>
                </div>
                <div class="col-12">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Enter Full Address.." required>
                </div>
                <div class="col-12">
                    <label class="form-label">Pan No</label>
                    <input type="text" style="text-transform:uppercase" class="form-control" name="panNo"
                        placeholder="Pan No.." required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Enter Password.." class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" name="confirmpassword" class="form-control"
                        placeholder="Enter Confirm Password.." required>
                </div>
                <div class="col-12" style="text-align: center;">
                    <button type="submit" class="btn btn-danger">Create</button>
                </div>
            </form>
        </div>
        <div class="links">
            <div class="col-md-5">
                <a href="/customer/testAccount">Create new Test Account </a>
            </div>
            <div class="col-md-7">
                <a href="/customer/signin">Sign in</a>
            </div>
        </div>
    </div>
</div>