<div class="container">
   <div class="row">
        <div class="col-6">
            <form class="row g-3" method="post" action="/customer/createsession">
                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email.." required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Enter Password.." class="form-control" required>
                </div>
                <div class="col-md-6">
                    <input type="hidden" name="isEmployee" value="false" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
   </div>
</div>