<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Balace: <%=locals.user.balance%></h4>
        </div>
        <div class="col-6">
            <form class="row g-3" method="post" action="/customer/withdrawalMoney">
                <div class="col-md-12">
                    <label class="form-label">Withdrawal Amount</label>
                    <input type="number" min="10" name="withdrawalAmt" class="form-control" placeholder="Enter Amount.." required>
                </div>
                <div class="col-md-6">
                    <!-- <label class="form-label">Password</label> -->
                    <input type="hidden" name="userId" value="<%=locals.user._id%>" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <input type="hidden" name="isEmployee" value="false" required>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Withdrawal</button>
                </div>
            </form>
        </div>
    </div>
</div>